<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet"><div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="0.5em">
        <div><a (click)="openLink(linkedin)"><img class="image" [src]="linkedinicon"></a></div>
        <div><a (click)="openLink(medium)"><img class="image" [src]="mediumicon"></a></div>
    </div>

    <div fxLayout="row" fxLayoutGap="1em" class="menu-items">
        <div>Home</div>
        <div>Projects</div>
        <div>About Me</div>
        <div>Contact</div>
    </div>
</div>