<div class="profileContent" fxLayout="row" fxLayoutAlign="center space-between"  fxLayoutGap="0.5em">
  <div class="picClass"  fxLayoutAlign="center center"><img class="profilePic" src="assets/pp.jpg" /></div>
  <header>
    <h1 >
      <span style="--i: 0">S</span>
      <span style="--i: 1">o</span>
      <span style="--i: 2">n</span>
      <span style="--i: 4">a</span>
      <span style="--i: 5">l</span>
      <span style="--i: 6">i</span>
      <br />
      <span style="--i: 10">j</span>
      <span style="--i: 11">a</span>
      <span style="--i: 12">i</span>
      <span style="--i: 13">n</span>
    </h1>
    <img src="assets/creativity.png" />
  </header>
</div>
